.top-bar-section ul li > a {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    font-size: 0.8125rem !important;
}

h1 {
    margin-top: 20px;
}

h3.subheader {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
}

h4 {
    font-size: 0.75rem;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.top30 {
    margin-top: 30px;
}

.top20 {
    margin-top: 20px;
}

.bottom30 {
    margin-top: 30px;
}

.bottom20 {
    margin-top: 20px;
}

hr {
    margin: 2.5rem 0 2rem;
}

hr.dashed {
    border-style: dashed;
}

/* Syntax Highlighting */
.hll {
    background-color: #ffffcc;
}

.c {
    color: #999988;
    font-style: italic;
}

/* Comment */
.err {
    color: #a61717;
    background-color: #e3d2d2;
}

/* Error */
.k {
    color: black;
    font-weight: bold;
}

/* Keyword */
.o {
    color: black;
    font-weight: bold;
}

/* Operator */
.cm {
    color: #999988;
font-style: italic; }

/* Comment.Multiline */
.cp {
    color: #999999;
    font-weight: bold;
font-style: italic; }

/* Comment.Preproc */
.c1 {
    color: #999988;
font-style: italic; }

/* Comment.Single */
.cs {
    color: #999999;
    font-weight: bold;
font-style: italic; }

/* Comment.Special */
.gd {
    color: black;
background-color: #ffdddd; }

/* Generic.Deleted */
.ge {
    color: black;
font-style: italic; }

/* Generic.Emph */
.gr {
color: #aa0000; }

/* Generic.Error */
.gh {
color: #999999; }

/* Generic.Heading */
.gi {
    color: black;
background-color: #ddffdd; }

/* Generic.Inserted */
.go {
color: #888888; }

/* Generic.Output */
.gp {
color: #555555; }

/* Generic.Prompt */
.gs {
font-weight: bold; }

/* Generic.Strong */
.gu {
color: #aaaaaa; }

/* Generic.Subheading */
.gt {
color: #aa0000; }

/* Generic.Traceback */
.kc {
    color: black;
font-weight: bold; }

/* Keyword.Constant */
.kd {
    color: black;
font-weight: bold; }

/* Keyword.Declaration */
.kn {
    color: black;
font-weight: bold; }

/* Keyword.Namespace */
.kp {
    color: black;
font-weight: bold; }

/* Keyword.Pseudo */
.kr {
    color: black;
font-weight: bold; }

/* Keyword.Reserved */
.kt {
    color: #445588;
font-weight: bold; }

/* Keyword.Type */
.m {
color: #009999; }

/* Literal.Number */
.s {
color: #d01040; }

/* Literal.String */
.na {
color: teal; }

/* Name.Attribute */
.nb {
color: #0086b3; }

/* Name.Builtin */
.nc {
    color: #445588;
font-weight: bold; }

/* Name.Class */
.no {
color: teal; }

/* Name.Constant */
.nd {
    color: #3c5d5d;
font-weight: bold; }

/* Name.Decorator */
.ni {
color: purple; }

/* Name.Entity */
.ne {
    color: #990000;
font-weight: bold; }

/* Name.Exception */
.nf {
    color: #990000;
font-weight: bold; }

/* Name.Function */
.nl {
    color: #990000;
font-weight: bold; }

/* Name.Label */
.nn {
color: #555555; }

/* Name.Namespace */
.nt {
color: navy; }

/* Name.Tag */
.nv {
color: teal; }

/* Name.Variable */
.ow {
    color: black;
font-weight: bold; }

/* Operator.Word */
.w {
color: #bbbbbb; }

/* Text.Whitespace */
.mf {
color: #009999; }

/* Literal.Number.Float */
.mh {
color: #009999; }

/* Literal.Number.Hex */
.mi {
color: #009999; }

/* Literal.Number.Integer */
.mo {
color: #009999; }

/* Literal.Number.Oct */
.sb {
color: #d01040; }

/* Literal.String.Backtick */
.sc {
color: #d01040; }

/* Literal.String.Char */
.sd {
color: #d01040; }

/* Literal.String.Doc */
.s2 {
color: #d01040; }

/* Literal.String.Double */
.se {
color: #d01040; }

/* Literal.String.Escape */
.sh {
color: #d01040; }

/* Literal.String.Heredoc */
.si {
color: #d01040; }

/* Literal.String.Interpol */
.sx {
color: #d01040; }

/* Literal.String.Other */
.sr {
color: #009926; }

/* Literal.String.Regex */
.s1 {
color: #d01040; }

/* Literal.String.Single */
.ss {
color: #990073; }

/* Literal.String.Symbol */
.bp {
color: #999999; }

/* Name.Builtin.Pseudo */
.vc {
    color: teal;
}

/* Name.Variable.Class */
.vg {
    color: teal;
}

/* Name.Variable.Global */
.vi {
    color: teal;
}

/* Name.Variable.Instance */
.il {
    color: #009999;
}

/* Literal.Number.Integer.Long */
.sidebar {
    //background: #fafafa;
    padding: 32px 20px;
}

.sidebar.fixed, [data-magellan-expedition] {
left: auto !important; }

.side-nav .heading {
    text-transform: uppercase;
}

.side-nav li {
    margin: 0;
    padding: 0;
}

.side-nav li a {
    padding: 0.33333rem 0;
}
.side-nav li a:hover {
    color: #004054;
}

.side-nav li a:hover span {
    background: #dadada;
    color: black;
}

.side-nav .heading, .sidebar form {
padding: 2px 0px; }

.side-nav li.divider {
margin: 16px 0px; }

.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
    padding: 4px 0px;
    font-size: 0.77778rem;
font-weight: bold; }

.sidebar .download.button {
    margin: 10px 0px;
font-size: 1rem; }

.sidebar .label {
    background: #dddddd;
    border-radius: 3px;
    color: #777777;
    margin-left: 5px;
}


.sidebar form {
    margin-bottom: 0;
}

.sidebar .button {
    font-size: 0.66667rem;
}

.magellan-fixed.magellan-outer-wrapper {
    overflow-y: scroll;
    width: inherit;
}
.magellan-fixed .magellan-inner-wrapper {
    overflow-y: scroll;
}

.sidebar input[type="search"]:focus {
    -moz-box-shadow: 0 0 0 !important;
    -webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
}

.sidebar .side-nav li.active > a:first-child {
    font-weight: bold;
    color: #008fba;
    position: relative;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(0, 64, 84, 0.05);
}

.sidebar .side-nav li:hover > a:first-child {
    color: #006887;
    position: relative;
    margin: 0 -20px;
    padding-left: 20px;
    padding-right: 20px;
    //background: rgba(0, 64, 84, 0.03);
}

